@font-face {
    font-family: Magra-Regular;
    src: url(gfonts/Magra-Regular.ttf);
   
  }
  @font-face {
    font-family:Aleo-Regular ;
    src: url(gfonts/Aleo-Regular.ttf);
  }
  @font-face {
    font-family:RedHatText ;
    src: url(gfonts/redhattext-variablefont_wght-webfont.woff2);
  }

  *{
    margin: 0;
    padding: 0;
}
.section1{
    background-image: url("images/garrett-parker-DlkF4-dbCOU-unsplash\ 1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;
    padding-bottom: 200px;
}
.header{
height: 90px;
left: 0px;
top: 0px;
margin: 0;
background: rgba(242, 120, 92, 0.7);
box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}
.navigation{
    padding: 0 120px;
}

.menu {

box-sizing: border-box;
display: flex;

}
.logo{
    width: 30px;
    height: 30px;
    
    margin-top: 26px;
}
.items{
    display: flex;
    margin-left: 370px;
    margin-top: -34px;
}
.items>p{
    
   margin-right: 42px;
}
.items>p>a{
    font-family: RedHatText ;
    font-style: normal;
    font-weight: 600; 
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}
.travel{
    font-family: Magra-Regular;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    background: rgba(242, 120, 92, 0);
    color: #FFFFFF;
    margin-top: 25px;
    margin-left: 6px;
}
           
.login{
    background: #0D606F;
    border-radius: 10px;
    color: #FFFFFF;
    box-sizing: border-box;
    padding: 10px 30px;
    margin-left: 196px;
    margin-top: -5px;
    border: none;
    }

    h1{
    font-family: Aleo-Regular ;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    padding-right: 0%;
    color: #FFFFFF;

    }
    .main{
        margin-top: 122px;
        margin-left: 120px;
        margin-bottom: 254px;
    }
    .text{
    font-family: Aleo-Regular ;
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 46px;
    margin-bottom: 46px;
    word-wrap: break-word;
    }
   
    ::placeholder{
font-family: Aleo-Regular ;
font-style: italic;
font-weight: 400;
font-size: 24px;
line-height: 29px;
border-width: 500px;
color: #F2785C;
margin-top: 32px;
border: none;
margin-bottom: 41px;

    }
.itext{
    background: rgba(255, 255, 255, 0.7);
    width: 892px;
    height: 95px;
    left: 120px;
    top: 416px;
    border-radius: 16px;
    padding-left: 41px;
    box-sizing: border-box;
    padding-right: 18px;
    font-size: 24px;
    font-family: Aleo-Regular ;
}
.btext{
background: #0D606F;
border: none;
border-radius: 10px;
padding: 13.5px 32.5px;
font-family: RedHatText ;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
color: #FFFFFF;
box-sizing: border-box;
margin-top: -79px;
margin-left: 34.5%;
position: absolute;
}
.input{
    position: relative;
}


.trip{
    text-align: center;
    font-family: RedHatText ;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
    margin-top: 80px;
    margin-bottom: 40px;
}
.steps{
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
}

.bike{
    padding: 26px 24px 35px 24px;
    width: 50px;
    height: 45px;
    background: #F2785C;
    background-size: 100px 100px;
    border-radius: 16px;
   
}
.calendar{
    padding: 24px;
    width: 52px;
    height: 52px;
    background: #F2785C;
    background-size: 100px 100px;
    border-radius: 16px;
}
.plane{
    padding: 28px 20px 27px 20px;
    width: 60px;
    height: 45px;
    background: #F2785C;
    background-size: 100px 100px;
    border-radius: 16px;
}
.toDo{
font-family: Aleo-Regular ;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
text-align: center;
margin-top: 30px;
margin-left: -90px;
color: #0D606F;
}
.dates{
    font-family: Aleo-Regular ;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
text-align: center;
margin-top: 30px;
margin-left: -70px;
color: #0D606F;
}
.recommendations{
    font-family: Aleo-Regular ;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-top: 30px;
    margin-left: -70px;
    color: #0D606F;
}
.destinations{
    font-family: RedHatText ;
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 53px;
text-align: center;
margin-top: 97px;
margin-bottom: 46px;

color: #F2785C;
}
.flex-container{
    display: flex;
    justify-content: center;
    
    
    overflow: hidden;
}
.flex-container>div{
    margin: 0 30px ;
    
}
.flex-container>div>img{
    border-radius: 16px;
}
.flex-container>div>p{
    font-family: RedHatText ;
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 42px;
position: absolute;
color: #FFFFFF;
margin-top: -70px;
margin-left: 15px;
}
.dots>div{
    width: 20px;
    height: 20px;
    background: rgba(242, 120, 92, 0.5);
    border-radius: 50%;
    margin-right: 10px;
}
.dots{
    display: flex;
    justify-content: center;
    margin: 24px;
}
.dots>div.dot2{
    background: #F2785C;
}
.find{
background: #0D606F;
border: none;
border-radius: 10px;
font-family: RedHatText ;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
padding: 13.5px 31px;
color: #FFFFFF;
justify-content: center;
margin-left: 44%;
}
.find>img{
    margin-right: 12.5px;
}
.stories{
    font-family: RedHatText ;
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 53px;
text-align: center;
margin-top: 80px;
margin-bottom: 40px;
color: #F2785C;
}
.travelStories{
    background-image: url("images/Mountains.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
    
}
.layer{
    background: rgba(255, 255, 255, 0.7);
    padding-top: 40px;
    margin-bottom: 51px;
    
}
.lake{
    display: flex;
}
.road{
    display: flex;
}
.snowmountains{
    display: flex;
}
.car{
    display: flex;
}
.layer>div>img{
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;
    margin-left: 120px;
    margin-right: 40px;
    margin-bottom: 30px;
}
.layer>div>div>h3{
    font-family: Aleo-Regular ;
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 42px;
margin-bottom: 24px;

color: #0D606F;
}
.layer>div>div>p{
    font-family: Aleo-Regular ;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
width: 760px;
height: 184px;
color: #0D606F;

}
.layer>div>div>p>a{
    color: #0D606F;
    font-weight: 600;
}
.more{
    padding: 13.5px 31px;
    background: #0D606F;
    border: none;
    border-radius: 10px;
    margin-left: 44%;
    font-family: RedHatText ;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 41px;
    color: #FFFFFF;
}
.more>img{
    margin-right: 12.5px;
    margin-bottom: -5px;
}
.footer{
    padding-bottom: 5px;
}

.footerP{
   
font-family: RedHatText ;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 21px;
margin-left: 44%;
color: #FFFFFF;

margin-top: -30px;

}

.media{
    margin-left: 88%;
    display: flex;
    margin-top: -30px;
    
}
.youtube{
    position: relative;
}
.play{
    position: absolute;
    top: 6px;
    right: 10px;
    
}
.media>div{
    margin-right: 24px;
}